<p>haraaaaa</p>
<br><a href="http://localhost:5000/">homepage mfrrs</a>
<br>
<form class="form-inline my-2 my-lg-0" action = "http://localhost:5000/plot" method = "POST">
    <input class="form-control mr-sm-2" type="search" placeholder="first country" aria-label="Search" name="country0">
    <input class="form-control mr-sm-2" type="search" placeholder="second country" aria-label="Search" name="country1">
    <input class="form-control mr-sm-2" type="search" placeholder="third country" aria-label="Search" name="country2">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>


<img src={{ url}} alt="Chart" style="display: {{shw}};">